/* Global Classes */

body {
    background: #eee;
}

/* Custom Classes */
.teaser {
    margin-top: -5%;
}

#gameui {
    height: 0px;
}

.transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.transform-active {
    height: 500px !important;
    top: 100px !important;
}

.guess {
    text-align: center;
    font-size: 3em;
    margin-top: 5em;
    text-transform: uppercase;
}

.blankspace {
    display: block;
    margin: 10px;
    border-bottom: 5px solid black;
    width: 5%;
}

.hidden {
    display: none;
}

.hiddenletter {
    color: transparent;
}

.visible {
    display: block;
}

.wrapper {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    background: #fff;
    overflow: auto;
    height: 500px;
}

.innerwrapper {
    position: fixed;
    padding: 20px;
    height: 0px;
    top: 450px;
    background: white;
    opacity: 0.6;
    width: inherit;
}

.jumbotron {
    margin-bottom: 0px;
}



header {
    position: relative;
    background-color: black;
    height: 350px;
    min-height: 3rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ccc;
    opacity: 0.7;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  /* Bootstrap Overrides */
h5 {
    line-height: 1.5em;
}
.rounded {
    border-radius: 1rem !important;
}
.rounded-top {
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 870px;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    text-align: right;
  }