/* Global Classes */

body {
    background: #eee;
}

/* Custom Classes */
.teaser {
    margin-top: -5%;
}

.winbanner {
    background-image: url("../images/winscreen.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 50% 32%;
}

.losebanner {
    background-image: url("../images/losescreen.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 100% 30%;
}

#gameui {
    height: 0px;
}

.transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.transform-active {
    height: 500px !important;
    top: 100px !important;
}

.guess {
    text-align: center;
    font-size: 3em;
    margin-top: 5em;
    text-transform: uppercase;
}

.wrongguess {
    background-color: red;
}

#guesses {
    margin-top: 2em;
    margin-left: 0.4em;
    margin-right: 0.2em;
}

.letterblock {
    width: 3em;
    height: 3em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 3em;
    text-align: center;
    border: 1px solid black;
    color: black;
    margin: 0.18em;
    border-radius: 0.5em;
    font-size: 1.1em;
}

.wrongletterblock {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /><path d='M0 99 L99 0 L100 1 L1 100' fill='black' /></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
    background-color: #999;
    opacity: 0.5;
}

.heartstyle {
    font-size: 1.3em;
    height: 30px;
    width: 30px;
    position: relative;
    color: red;
    z-index: 100;
    margin: 0.5em -0.4em 0 0.5em;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.blankspace {
    display: block;
    margin: 10px;
    border-bottom: 5px solid black;
    width: 5%;
}       

.blankspace2 {
    border-bottom: 5px solid transparent !important;
}

@keyframes fademe {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes raiseme {
    from {margin-top: -100px;}
    to {margin-top: -400px;}
}

.fadeanswer {
    animation-name: fademe, raiseme;
    opacity: 0;
    margin-top: -100px;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.revealedletter{
    color: black !important;
}

.hidden {
    display: none;
}

.hiddenletter {
    color: transparent;
}

.visible {
    display: block;
}

.wrapper {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    background: #fff;
    overflow: none;
    height: 500px;
}

.innerwrapper {
    position: fixed;
    top: 450px;
    background-color:rgba(255, 255, 255, 0.3);
    width: inherit;
}
.innerwrappernobg {
    top: 360px !important;
    background-color:rgba(255, 255, 255, 0) !important;
}

.jumbotron {
    margin-bottom: 0px;
}



header {
    position: relative;
    background-color: black;
    height: 350px;
    min-height: 3rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ccc;
    opacity: 0.7;
    z-index: 1;
  }

  .playagainmsg {
      position: fixed;
      bottom: 39%;
      left: 42%;
      font-size: 0.5em;
      line-height: 0em;
      font-weight: 300;
  }
/* ID styles */
  #introtitle {
    font-family: 'Berkshire Swash', cursive;
    margin-left: 0.5em;
    margin-top: 0.5em;
  }

  #intro {
     margin-left: 1em;
  }

  .blink_me {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  

  /* Bootstrap Overrides */
h5 {
    line-height: 1.5em;
}
.rounded {
    border-radius: 1rem !important;
}
.rounded-top {
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 870px;
    height: 160px; /* Set the fixed height of the footer here */
    line-height: 160px; /* Vertically center the text there */
    text-align: center;
    font-size: 2em;
    font-family: 'Berkshire Swash', cursive;
  }

  .btn-link {
    color: #212529;
  }

  .btn-link:hover {
      color: orangered;
  }
